<div class="currency-converter">
    <div class="currency-converter__container">
        <div class="currency-converter__row">
            <div class="currency-converter__box">
                <div class="currency-converter__content">
                      <div class="content-input">
                        <select (change)="handleSelect($event)" class="currency-select-field" id="from"  value="{{currencyInputFrom}}">
                        <option *ngFor="let option of currencies" [value]="option">{{option}}</option> 
                        </select>
                        <div class="currency-input-field">
                          <label for="input">{{currencyInputFrom}}</label>
                          <input (input)="handleInput($event)" [(ngModel)] = "valueInputFrom" type="number" id="from">
                        </div>
                      </div>
                      <div class="sync">
                        <button (click)="handleSwap($event)" mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon  class="alt-icon" style="font-size: 30px;" aria-hidden="false" fontIcon="sync_alt"></mat-icon>
                        </button>
                      </div>
                      <div class="content-input">
                        <select (change)="handleSelect($event)"  [(ngModel)]='currencyInputTo' class="currency-select-field" id="to" [value]="currencyInputTo" >
                            <option *ngFor="let option of currencies" [value]="option">{{option}}</option>
                        </select>
                        <div class="currency-input-field">
                          <label for="input">{{currencyInputTo}}</label>
                          <input (input)="handleInput($event)" [(ngModel)] = "valueInputTo" type="number"  id="to">
                        </div>
                      </div>
                </div>   
          </div>
        </div>
    </div>
    
</div>